{# 
/**
*
*
*/
 #}

<header class="r-pageheader" role="banner">
	<div class="container">
		<div class="r-pageheader__inner">
			<div class="r-pageheader__logo">
				<img class="r-pageheader__logo-img" src="{{ base_path ~ directory }}/dist/images/logo.png" alt="Logo">
			</div>
			<div class="r-pageheader__sitename">
				<h1>Component Driven</h1>
			</div>
		</div>
	</div>
</header>
