// /////////////////////////
// @@ TYPOGRAPHY
// ////////////////////////

.r-pageheader {
  background-color: $accent;
  color: $white;

  &__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  &__logo {
    width: 20rem;
  }
}