// /////////////////////////
// @@ VARIABLES
// ////////////////////////


$accent: rgb(55, 63, 172);
$gray: rgb(225, 230, 225);
$dark-gray: rgb(143, 148, 145);
$black: rgb(10, 16, 13);
$white: rgb(247, 247, 242);

$clr-parts: $black;

// FONTS VARIABLES
$ff-sans: 'Raleway', sans-serif;
$ff-size: 1.6rem;
$fw-normal: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// LAYOUT VARIABLES
$margin-b: 3rem;
$margin-bb: 6rem;